[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kagglehub = "*"
ipykernel = "*"
pandas = "*"
scikit-learn = "*"
mlflow = "==2.14.1"
setuptools = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
